<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>visitor page</div>
        <table border="1" cellspacing="0">
            <tr>
                <th>이름</th>
                <th>코멘트</th>
            </tr>
            <% for(let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].name %></td>
                <td><%= data[i].comment %></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>
