@font-face {
    font-family: 'KorailRoundGothicBold';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');font-weight: 700;font-style: normal;}
* {font-family: 'KorailRoundGothicBold';font-size: 18px;}


.inline {
    display: inline-block;
    height: 100px;
}

.block {
    display: block;
    width: 100%;
    height: 10%;
}

.box {
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 5px;
}

.flex_box mai
.flex_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.flex_box2 {
    position: absolute;
    display: block;
    justify-content: end;
    /* align-items: end; */
    bottom: 0px;
    right: 0px;
    /* left: 100%; */
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: red;
    bottom: 0px;
    /* margin: 5px; */
    box-shadow: 2px 1px 2px rgb(180, 120, 120);

}

 #click:active {
    color: rgb(116, 187, 238);
    font-size: 100px;
}