<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/index.css" />
        <title>Iffyong</title>
    </head>
    <body>
        <h2>Iffyong</h2>
        <div class="M_container">
            <div class="radious-box">
                <h3>Welcome</h3>
                <button class="btn2" onclick="singin()">로그인</button>
                <button class="btn-dark2" onclick="signup()">회원가입</button>
            </div>
        </div>

        <script>
            function signup() {
                location.href = '/user/signup';
            }
            function singin() {
                location.href = '/user/signin';
            }
        </script>
    </body>
</html>
