<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <h4><%= commentInfos.userId %>님의 댓글입니다.</h4>
            <a href="/comment>"></a>
            <p>작성일 : <%= commentInfos.date %></p>
            <p>댓글 내용 : <%= commentInfos.comment %></p>
        </div>
    </body>
</html>
