<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h4>user page</h4>
        <a href="/">홈으로 이동</a>
        <p>아이디 : <%= userInfo.id %></p>
        <p>패스워드 : <%= userInfo.pw %></p>
        <p>이름 : <%= userInfo.name %></p>
        <p>나이 : <%= userInfo.age %></p>
    </body>
</html>
