<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../static/index.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="logo">
            <div class="yong">
                <a class="logo_a" href="/user">Iffyong</a>
            </div>
            <div class="info">회원정보</div>
        </div>
        <form name="form_profile">
            <input type="hidden" value="<%= data.id %>" id="id" name="id" />
            <div class="form_item_top">
                <label for="userid">ID</label>
                <input type="text" id="userid" value="<%= data.userid %>" name="userid" required /><br />
            </div>
            <div class="form_item">
                <label for="pw">pw</label>
                <input type="password" id="pw" value="<%= data.pw %>" name="pw" required /><br />
            </div>
            <div class="form_item_bottom">
                <label for="name">NAME</label>
                <input type="text" id="name" value="<%= data.name %>" name="name" required /><br />
            </div>
            <div class="submit_btn">
                <button class="btn" type="button" onclick="edit()">수정</button>
                <button class="btn" type="button" onclick="del()">삭제</button>
            </div>
            <button class="btn-dark2" onclick="logout()">로그아웃</button>
        </form>
        <script>
            const form = document.forms['form_profile'];

            function edit() {
                if (!form.checkValidity()) {
                    return;
                }
                axios({
                    method: 'PATCH',
                    url: '/user/profile/edit',
                    data: {
                        id: form.id.value,
                        userid: form.userid.value,
                        name: form.name.value,
                        pw: form.pw.value,
                    },
                }).then((res) => {
                    if (res.data.result) {
                        alert('회원정보 수정완료!!!');
                        document.location.href = '/user';
                    } else {
                        alert('회원정보 수정실패!!!');
                    }
                });
            }
            function logout() {
                axios
                    .get('/user/signout')
                    .then((res) => {
                        if (res.data.result) {
                            // 로그아웃 성공 시
                            location.href = '/user'; // 로그아웃 후 리디렉션할 경로를 설정합니다.
                        } else {
                            // 로그아웃 실패 시
                            alert('로그아웃에 실패했습니다');
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                        alert('로그아웃에 실패했습니다');
                    });
            }
            function logout() {
                axios
                    .get('/user/signout')
                    .then((res) => {
                        if (res.data.result) {
                            // 로그아웃 성공 시
                            location.href = '/user'; // 로그아웃 후 리디렉션할 경로를 설정합니다.
                        } else {
                            // 로그아웃 실패 시
                            alert('로그아웃에 실패했습니다');
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                        alert('로그아웃에 실패했습니다');
                    });
            }
            function del() {
                if (!form.checkValidity()) {
                    return;
                }
                axios({
                    method: 'DELETE',
                    url: '/user/profile/del',
                    data: {
                        id: form.id.value,
                    },
                }).then((res) => {
                    if (res.data.result) {
                        alert('삭제완료');
                        document.location.href = '/user';
                    }
                });
            }
        </script>
    </body>
</html>
