<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../static/index.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="logo">
            <div class="yong">
                <a class="logo_a" href="/user">Iffyong</a>
            </div>
        </div>
        <h4>로그인</h4>
        <form name="form_login">
            <div class="form_item_top">
                <label for="userid">ID</label>
                <input type="text" id="userid" name="userid" required /><br />
            </div>
            <div class="form_item_bottom">
                <label for="pw">pw</label>
                <input type="password" id="pw" name="pw" required /><br />
            </div>
            <div class="submit_btn">
                <button type="button" class="btn" onclick="login()">로그인</button>
                <button class="btn" onclick="signup()">회원가입</button>
            </div>
        </form>
        <form action="/user/profile" method="POST" name="form_info">
            <input type="hidden" id="profile_userid" name="userid" />
        </form>

        <script>
            function signup() {
                location.href = '/user/signup';
            }
            function login() {
                const form = document.forms['form_login'];

                if (!form.checkValidity()) {
                    return;
                }

                axios({
                    method: 'POST',
                    url: '/user/signin',
                    data: {
                        userid: form.userid.value,
                        pw: form.pw.value,
                    },
                }).then((res) => {
                    if (res.data.result === true) {
                        alert('로그인 성공');
                        const form_info = document.forms['form_info'];
                        form_info.profile_userid.value = res.data.data.userid;
                        location.href = '/user/profile';
                        form_info.submit();
                    } else {
                        alert('로그인 실패');
                        form_login.reset();
                    }
                });
            }
        </script>
    </body>
</html>
