<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../static/index.css" />

        <title>Document</title>
    </head>
    <body>
        <div class="logo">
            <div class="yong">
                <a class="logo_a" href="/user">Iffyong</a>
            </div>
        </div>
        <h4>회원가입</h4>
        <form name="form_register">
            <div class="form_item_top">
                <label for="userid">ID</label>
                <input type="text" id="userid" name="userid" required /><br />
            </div>
            <div class="form_item">
                <label for="pw">pw</label>
                <input type="password" id="pw" name="pw" required /><br />
            </div>
            <div class="form_item_bottom">
                <label for="username">NAME</label>
                <input type="text" id="username" required /><br />
            </div>
            <div class="submit_btn">
                <button class="btn" type="button" onclick="register()">제출</button>
                <button class="btn" type="button" onclick="toLogin()">로그인</button>
            </div>
        </form>

        <script>
            function register() {
                const form = document.forms['form_register'];

                console.log(form.checkValidity());
                if (!form.checkValidity()) {
                    return;
                }

                axios({
                    method: 'POST',
                    url: '/user/signup',
                    data: {
                        userid: form.userid.value,
                        name: form.username.value,
                        pw: form.pw.value,
                    },
                }).then((res) => {
                    console.log(res);
                    if (res.data.result === true) {
                        alert('회원가입 완료');
                        document.location.href = '/user/signin';
                    }
                });
            }
            function toLogin() {
                location.href = '/user/signin';
            }
        </script>
    </body>
</html>
