.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.logo div {
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(110, 130, 230);
}
.logo {
    width: 100%;
}
.box {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.container {
    /* 테두리 둥글게 색상 연하늘색, 그림자 살짝 나오게 만들자 */
    border-radius: 10px;
    background-color: rgb(230, 240, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}
.container span {
    font-size: 15px;
    color: rgb(110, 130, 230);
}
.container p {
    font-weight: bold;
}
