<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h4>싱글 파일업로드</h4>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="fileName" />
            <input type="text" name="title" />
            <button type="submit">업로드</button>
        </form>
        <br />
        <h4>여러개 파일업로드</h4>
        <form action="/upload/array" method="POST" enctype="multipart/form-data">
            <input type="file" name="fileName" multiple />
            <button type="submit">업로드</button>
        </form>
        <br />
        <h4>여러개 각각 파일업로드</h4>
        <form action="/upload/fields" method="POST" enctype="multipart/form-data">
            <input type="file" name="fileName1" />
            <br />
            <input type="file" name="fileName2" />
            <input type="submit" value="업로드" />
        </form>
    </body>
</html>
