<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome to My Website</title>
    </head>
    <body>
        <div style="text-align: center; display: flex; flex-direction: column; align-items: center; margin: 0px">
            <h3 style="margin: 10px 0px 0px 0px">Yong</h3>
            <p style="margin: 0px">
                <a
                    href="/user/login"
                    style="
                        font-size: 25px;
                        width: 250px;
                        display: block;
                        margin-top: 13px;
                        padding: 17px 0;
                        border: 1px solid rgba(0, 0, 0, 0.06);
                        border-radius: 4px;
                        background-color: #03c75a;
                        box-shadow: 0 2px 4px 0 rgba(3, 199, 90, 0.12);
                        text-decoration: none;
                        color: #fff;
                    "
                    >Log in</a
                >
            </p>
            <p><a href="/user/signup" style="text-decoration: none; color: rgb(159, 159, 159)">Sign up</a></p>
        </div>
    </body>
</html>
