<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h4>회원정보</h4>
        <a href="/user">MAIN PAGE로</a>
        <form name="form_profile">
            <input type="hidden" value="<%= data.id %>" id="id" name="id" />
            <label for="userid">ID</label>
            <input type="text" id="userid" value="<%= data.userid %>" name="userid" required /><br />
            <label for="pw">PASSWORD</label>
            <input type="password" id="pw" value="<%= data.pw %>" name="pw" required /><br />
            <label for="name">NAME</label>
            <input type="text" id="name" value="<%= data.name %>" name="name" required /><br />
            <button type="button" onclick="edit()">수정</button>
            <button type="button" onclick="del()">삭제</button>
        </form>
        <script>
            const form = document.forms['form_profile'];

            function edit() {
                if (!form.checkValidity()) {
                    return;
                }
                console.log('res ", res.data.result');
                axios({
                    method: 'PATCH',
                    url: '/user/profile/edit',
                    data: {
                        id: form.id.value,
                        userid: form.userid.value,
                        name: form.name.value,
                        pw: form.pw.value,
                    },
                }).then((res) => {
                    if (res.data.result) {
                        alert('회원정보 수정완료!!!');
                    } else {
                        alert('회원정보 수정실패!!!');
                    }
                });
            }

            function del() {
                if (!form.checkValidity()) {
                    return;
                }

                axios({
                    method: 'DELETE',
                    url: '/user/profile/del',
                    data: {
                        id: form.id.value,
                    },
                }).then((res) => {
                    if (res.data.result) {
                        alert('삭제완료');
                        document.location.href = '/user';
                    }
                });
            }
        </script>
    </body>
</html>
