<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h4>로그인</h4>
        <form name="form_login">
            <label for="userid">ID</label>
            <input type="text" id="userid" name="userid" required /><br />
            <label for="pw">PASSWORD</label>
            <input type="password" id="pw" name="pw" required /><br />
            <button type="button" onclick="login()">로그인</button>
        </form>
        <form action="/user/profile" method="POST" name="form_info">
            <input type="hidden" id="profile_userid" name="userid" />
        </form>
        <div>
            <a href="/user/signup">회원가입</a>
        </div>

        <script>
            function login() {
                const form = document.forms['form_login'];

                if (!form.checkValidity()) {
                    return;
                }

                axios({
                    method: 'POST',
                    url: '/user/signin',
                    data: {
                        userid: form.userid.value,
                        pw: form.pw.value,
                    },
                }).then((res) => {
                    console.log(res.data);

                    if (res.data.result === true) {
                        console.log('res data', res.data.data);
                        alert('로그인 성공');
                        const form_info = document.forms['form_info'];
                        console.log('test', res.data);
                        console.log(form_info.profile_userid);
                        form_info.profile_userid.value = res.data.data.userid;
                        console.log('폼인포 콘솔로그', form_info.profile_userid);
                        location.href = '/user/profile';
                        form_info.submit();
                    } else {
                        alert('로그인 실패');
                        form_login.reset();
                    }
                });
            }
        </script>
    </body>
</html>
