html {
    font-size: 16px;
}
.box {
    margin-bottom: 30px;
}
.px {
    width: 100px;
    height: 100px;
    background-color: palegoldenrod;
}
.per-parent {
    width: 100px;
    height: 100px;
    background-color: plum;
    position: relative;
}
.per-child {
    width: 50%;
    height: 50%;
    background-color: palegreen;
    position: absolute;
    bottom: 0px;
}
.em {
    font-size: 2em;
}
.rem {
    font-size: 2rem;
}
.vw {
    width: 20vw;
    height: 30vw;
    background-color: coral;
}
.vh {
    height: 20vh;
    width: 30vh;
    background-color: skyblue;
}
:root {
    --color-primary : #1FAECE;
    --height-header : 100px;
    --dark: #000000;
}
.my-div {
    background-color: var(--color-primary);
    width: 200px;
    height: var(--height-header);
}
.dark {
    background-color: var(--dark);
    width: 200px;
    height: var(--height-header);
}
p {
    width: 100px;
    height: 100px;
    background-color: var(--dark);
}







