body {
    margin: 0px;
    background-color: #fff;
    color: #black;
}
ul {
    margin: 0;
    padding-left: 1rem;
}
* {
    box-sizing: border-box;
}
.main-title {
    text-align: center;

    @media (max-width: 767px) {
        z-index: 2000;
    }
}
.title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: Black Han Sans, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
    border-bottom-color: #cccccc;
}
.black-link {
    position: absolute;
    top: 50%;
    left: -3rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    cursor: pointer;
}
.black-link-img {
    width: 100%;
    height: 100%;
}

.title-sub {
    text-align: center;
}
.pages {
    margin: 20px auto;
    width: 200px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.pages a {
    text-decoration: none;
    color: gray;
    margin: 0px 10px;
}

/* navbar */
.navbar {
    background-color: white;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    margin: 0px 10px;
    color: black;
}

.underLine {
    width: 3.25rem;
    height: 0;
    margin: 1.5rem auto;
    border: none;
    border-top: 0.2rem solid #f4623a;
    opacity: 1;
}

.about-mainBox {
    background-color: white;
}

.MainHeaderContent {
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
    padding: 8.5rem 2rem 4rem;
    top: 4.5rem;
    text-align: center;
    height: 30rem;
}
.main-img {
    width: 100%;
    position: absolute;
    /* 흐리게 */
    opacity: 0.5;
    height: 30rem;
    z-index: -1;
}
/* about me */
.AboutMeContent {
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
}

.title-container {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
}

.about-detail-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
    /* 모바일 사이즈 반응형ㅇ */
    @media (max-width: 767px) {
        width: 100%;
        flex-flow: column wrap;
        align-items: center;
    }
}

.AboutMe_field {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
}
.AboutMe_field-label {
    margin-bottom: 10px;
}
.AboutMe_field-content {
    font-weight: 300;
}

/* .name-box 스타일 수정 */
.name-box {
    display: flex;
    display: -ms-flexbox;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: 0.8;
}

/* .AboutMe_icon-img 스타일 수정 */
.AboutMe_icon-img {
    margin-right: 0.5rem;
}
.AboutMe_icon-img-detail {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.name-container {
    width: 33.3333%;
    margin-bottom: 20px;

    @media (max-width: 767px) {
        width: 100%;
    }
}

.AboutMe-textBox {
    width: 100%;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: #f0c9c9;
    font-weight: 700;
    text-align: center;
    color: black;
}

/* Skills css */
.skills-mainBox {
    background-color: #ffc107;
}
.SkillsContent {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
    height: 66rem;

    @media (max-width: 767px) {
        height: 100%;
    }
}

.title-container2 {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
}

.skills-title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: Black Han Sans, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
    border-bottom-color: black;
}

.skills-title-sub {
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 1.5rem;
    color: #f4623a;
}

.skills-container {
    display: flex;
    display: -ms-flexbox;
    flex-flow: column wrap;
    align-content: space-around;
    -ms-flex-line-pack: distribute;
    height: calc(100% - (7.5rem + 1px));

    @media (max-width: 768px) {
        flex-flow: row wrap;
        justify-content: space-between;
        -webkit-box-pack: justify;
        height: 100%;
    }
}

.skills-box {
    box-sizing: border-box;
    flex-shrink: 0;
    width: calc(33.33% - 4rem); /* 3개의 박스를 가로로 나열하므로 가로폭을 33.33%로 설정 */
    padding: 1.5rem;
    margin: 2rem 0; /* 각 박스 사이의 간격을 2rem으로 설정 */
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, 0.2);

    @media (max-width: 767px) {
        width: 100%;
        margin: 1rem 0;
    }
}

.skills-img {
    width: 100%;
}

/* Archiving */
.archiving-mainBox {
    background-color: #222;
}
.ArchivingContent {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
    height: 33rem;

    @media (max-width: 767px) {
        height: 100%;
    }
}

.title-container3 {
    display: table;
    position: relative;
    margin: 0 auto 3rem;

    @media (max-width: 767px) {
        margin: 0 auto 1.5rem;
    }
}

.archiving-title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: white;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
    border-bottom-color: #cccccc;
}
.archiving-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.archiving-box {
    box-sizing: border-box;
    width: 26rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
    color: black;

    @media (max-width: 767px) {
        width: 100%;
        margin: 1rem 0;
    }
}

.archiving-img-box {
    display: block;
    width: 12rem;
}

.archiving-img {
    width: 100%;
    margin-bottom: 1rem;
}

.archiving-link {
    /* 밑줄이 안보이게 */
    text-decoration: none;
    color: #258ddb;
    div {
        text-decoration: none; /* 링크 텍스트의 밑줄 제거 */
        color: inherit; /* 링크 텍스트의 색상을 부모 요소의 색상과 동일하게 설정 */
    }
}

/* ProjectsContent */

.projects-mainBox {
    background-color: #1d809f;
}
.ProjectsContent {
    box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
    height: 33rem;
}

.title-container {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
}

.projects-title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: white;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
    border-bottom-color: #cccccc;
}
